!!!
%html
  %head
    = stylesheet '/stylesheets/application.css'
    = javascript '/javascripts/application.js'
  %body
    %header
      %h1 Sinatra Base!

      This is a basic Sinatra application with the following gems pre-configured:

      %ul
        %li Sinatra::Contrib
        %li Sass (using SCSS)
        %li CoffeeScript
        %li Haml
